.w-12 {
    width: 12%;
}

.w-60 {
    width: 60%;
}

.mw-18 {
    min-width: 18%;
    margin-right: 5%;
}

.about-us {
    font-size: 1.4rem;

    .main-description {
        line-height: 1.4;
    }
}

.map-frame {
    width: 90%;
    height: 80%;
}