.features-heading {
  min-height: 40%;
  line-height: 1;
}

.features-para {
  padding-right: 5rem;
  text-align: justify;
}

.features-image {
  position: absolute;
  right: 1.5rem;
  opacity: 0.125;
  top: 50%;
  transform: translateY(-50%);
  width: 10rem;
}

@media screen and (max-width: 768px) {
  .features-para {
    padding-right: 0;
  }
  .features-image {
    opacity: 0;
  }
}
