.collabs-heading {
    text-align: center;
    color: white;
    font: Italic 3vw Droid Serif;
}

.sponsor-heading {
    color: $blue;
    text-align: center;
    font-weight: bold;
}

.sponsor-image {
    width: 100%;
}
