.hackathon {
  .hackathon-heading {
    font-size: 8rem;
    font-family: LangdonFont;
    width: 80%;
    margin-bottom: 0;
    padding-top:1rem;
    padding-bottom: 1rem;
    position: relative;
  }
  .hackathon-details {
      padding-top: 5rem;
      margin-top:-5rem;
  }
  .hackathon-description {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
    .hackathon {
        .hackathon-heading {
            font-size: 5rem;
        }
    }
}
