.section-content {
  flex-basis: 85%;
  min-height: 100vh;
}

.section-heading {
  flex-basis: 15%;
  min-height: 100vh;

  .section-heading-text {
    font-size: 8rem;
    line-height: 0.48;
    font-family: Langdon;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    position: sticky;
    top: 0;
    width:100%;
  }
}

.section-heading-left .section-heading-text{
    transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .section-content {
    flex-basis: 100%;
    order:1 !important;
  }
  .section-heading {
    flex-basis: 100%;
    order:1 !important;
  }
}

.register-box,
.register-box-inactive {
  background-color: $slightlyblack;
  width: 85%;
  height: 80%;
  margin-left: 3vh;
  margin-top: 12vh;
  z-index: 2;
  .heading-text {
    color: $blue;
    text-align: center;
    font-weight: bold;
  }
  .event-description {
    color: $white;
    font-size: 3.3vh;
    text-align: center;
    margin-top: 3vh;
  }
  .register-button {
    font-size: 2.5vh;
    font-weight: 600;
    border-style: none;
    padding: 2vh 5vh 2vh 5vh;
    background-color: $blue;
    display: block;
    margin-bottom: 0px;
  }
  .cost {
    color: $blue;
    text-align: center;
    font-weight: bold;
    background-color: $notsoblack;
    font-size: 3rem;
    padding: 0.865rem;
  }
  .hide {
    display: none;
  }
}

.register-box-inactive {
  transform: scale(0.8) translate(-190px, 80px);
  filter: brightness(80%) grayscale(60%);
  z-index: 1;
}
