@import './theme_variables.scss';

// Import component styles
@import './components/App.scss';
@import './components//section.scss';

$theme-colors: (
  "primary": $blue,
  "secondary": $red,
  "dark": $black,
  "light": $white
) !default;

@import '~bootstrap/scss/bootstrap.scss';

html, body {
    font-size: 16px;
    margin:0;
}

h1 {
    font-size: 3rem;
}

.bg-red {
    background-color: $red;
}

.bg-black {
    background-color: $black;
}

@font-face {
    font-family: 'Langdon';
    src: url('../fonts/Langdon.otf');
}

.text-blue {
    color: $text-blue;
}

@media (min-width: 1600px) {
    html, body {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    html, body {
        overflow-x: hidden; // Hack to prevent weird overflow on phones
        font-size: 14px;
    }
}